# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
# hui
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/artifacts
/cache
/fhevmTemp
/tasks
/test
INFURA_API_KEY=17d9c7c455364415a1d9186f7774517e
PRIVATE_KEY=3f8fd69fdee82ae04b9410f013a08f118dd41e7272bf5e5adb1984f2909e818f
WORDLE_ADDR=0x6220f3e109897C9a98E99edEd60B28Ad53cA32Dd
CONTRACT_ADDRESS=0x798412335a440e471093907a2C6f597DE8F7AAc1
ENCRYPTION_CALLER=0x33A468280f5E48294e595E923c311410aC648Dd5
RPC_SEPOLIA=https://sepolia.infura.io/v3/17d9c7c455364415a1d9186f7774517e
RPC_FHEVM=https://sepolia.infura.io/v3/17d9c7c455364415a1d9186f7774517e
RELAYER_URL=https://relayer.testnet.zama.cloud
REACT_APP_CONTRACT_ADDRESS=0xFA23f4beB2238261011Edec693e08871732a0108
